body {
    background-color: #fffbf7;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.fixed-header { /*Contenedor=> Section de clase fixed-header para fixear la Barra de tareas*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7; /*Darle color de fondo a la barra, usamos el color del body*/
}

.header {
    margin: 40px 20px 0;
    font-size: 0;
    height: 80px;
}

.header li {
    display: inline;
    margin: 0 15px;
}

.header ul {
    padding: 0;
}

 .header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
 }

 .header .logo {
    width: 20%;
 }

 .header .navbar {
    text-align: center;
    width: 60%;
}

.header .actions {
    text-align: right;
    width: 20%;
    font-size: 14px;
}

.header .actions button {
    background-color: #67b54b;
    color:#fff;
    border: 0;
    border-radius: 5px;
    padding: 12px 14px;
    margin-left: 10px;
}

.main {
    margin-top: 150px;
    text-align: center;
    margin-top: 280px;
}

h1 {
    color:#025157;
    font-family: 'Alegreya', serif;
    font-weight: 900;
    font-size: 60px;
}

h4 {
    color:#46484c;
    font-family: 'Slabo 27px', serif;
    font-weight: 400;
    font-size: 20px;
}

p {
    color:#8b8b8bcc;
}

.signup-form {
    height: 55px;
}

.main .signup-form input {
    border-radius: 10px;
    border: 1px solid #b6b6b6;
    padding: 6px 20px;
    width: 60%;
    max-width: 250px;
    height: 75%;
}

.main .signup-form button {
    color:#fff;
    background-color: #025157;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: -12px;
    border: 0;
    padding: 6px 20px;
    height: 100%;
}

.main .img_central {
    width: 80%;
    max-width: 1000px;
}

.promo  { /*flex-contenedor*/
    display:flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

.explanatory-video { /*flex-item 1*/
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1; /*propiedad de flex que asigna % de flex-contenedor que le corresponde al flex-item 1*/ /*Como el flex-contenedor contiene 2 items y ambos tienen flex:1, le corresponde 50% de contenedor a cada uno*/
}

.explanatory-video img{
    width: 120px;
    margin-top: 10px;
}

.publish { /*flex-item 2*/
    margin-bottom: 0px;
    padding: 10px;
    flex: 1; /*propiedad de flex que asigna % de flex-contenedor que le corresponde al flex-item 2*/
}

.publish h3 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
    font-weight: 900;
    margin-top: 0;
}

.publish .texto-publish {
    color: #343434;
}

.publish .texto-gris-publish {
    color: #8b8b8bcc;
}

.publish .signup-form input {
    border: 1px solid #b6b6b6;
    padding: 6px 20px;
    width: 60%;
    max-width: 250px;
    height: 75%;
    border-radius: 8px;
}

.publish .signup-form button {
    background-color: #025157;
    color: #fff;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 6px 20px;
    margin-left: -12px;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.success-stories {
    display: flex;
    background-color: #a1d683;
    align-items: center;
    padding: 5% 15%;
}

.success-stories .overview {
    flex: 2;
    padding-right: 100px;
}

.success-stories .overview h2 {
    font-family: "Alegreya", serif;
    font-weight: 500;
    font-size: 51px;
    line-height: 61px;
    color: #025157;
    margin-top: 0;
    margin-bottom: 1rem;
}

.success-stories .overview p {
    color: #343434;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.success-stories .overview button {
    font-size: 14px;
    padding: 12px 12px 6px 12px;
    border-radius: 8px;
    height: 45px;
    font-weight: 600;
    margin-left: 0;
    background-color: #025157;
    color: #fff;
    border: none;
}

.success-stories .overview figure {
    margin: 0 0 1rem;
}

.success-stories .overview img {
    width: 500px;
    max-width: 100%;
}

.success-stories .stories-carousel {
    flex: 1;
}

.success-stories .stories-carousel .card {
    max-width: 370px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}

.success-stories .stories-carousel .card .card-media {
    position: relative;
}

.success-stories .stories-carousel .card .card-media figure {
    margin: 0;
}

.success-stories .stories-carousel .card .card-media img {
    width: 100%;
    max-height: 16vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    vertical-align: middle;
    border-style: none;
    margin: 0;
    padding: 0;
}

.success-stories .stories-carousel .card .card-media .company {
    display: flex;
    position: absolute;
    width: 100px;
    background-color: #f9da73;
    height: 100px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    bottom: -20px;
    right: 20px;
}
.success-stories .stories-carousel .card .card-media .company img {
    max-width: 75%;
}

.success-stories .stories-carousel .card .card-body, .success-stories .stories-carousel .card .card-footer {
    padding: 25px;
}

.success-stories .stories-carousel .card .card-body h4 {
    color: #025157;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 12px;
    font-family: "Slabo 27px", serif;
    margin-top: 0;
}

.success-stories .stories-carousel .card .card-body h3 {
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
    margin-top: 0;
}

.success-stories .stories-carousel .card .card-body .results {
    display: flex;
    align-items: center;
    color: #828282;
}

.success-stories .stories-carousel .card .card-body .results img {
    width: 26px;
    margin-right: 20px;
}

.success-stories .stories-carousel .card .card-footer {
    margin-bottom: 20px;
    background-color: unset;
    border-top: unset;
}

.success-stories .stories-carousel .card .card-footer button {
    display: block;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
    padding: 12px 20px;
    width: 100%;
    margin-left: 0;
    background-color: #025157;
    color: #fff;
    border: none;
}

.features {
    display: grid;
    grid-template: repeat(2,330px) / repeat(2,1fr);
    background-color: #025157;
    padding: 5% 10%;
}

.features .feature-card {
    margin: 0 15px 30px;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
}

.feature-content {
    padding: 30px 20px 40px 40px;
    flex: 2;
}

.feature-content-image {
    margin: 0;
}

.feature-content-image img {
height: 40px;
}

.feature-content h3 {
    font-size: 24px;
    color: #343434;
    font-weight: 400;
}

.feature-content p {
    font-size: 1rem;
    color: #7e7e7e;
    font-weight: 400;
}

.feature-content a {
    font-size: 16px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
}

.feature-content > * {
    margin: 0 0 1rem;
}

.feature-image {
    flex: 1;
    position: relative;
}

.feature-image img {
    width: 200px;
    position: absolute;
    top: 90px;
    left: 30;
    transition: left 0.5s;
}

.feature-image img:hover {
    left: 0;
}