body {
    background-color: #fffbf7;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.fixed-header { /*Contenedor=> Section de clase fixed-header para fixear la Barra de tareas*/
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7; /*Darle color de fondo a la barra, usamos el color del body*/
}

.header {
    margin: 40px 20px 0;
    font-size: 0;
    height: 80px;
}

.header li {
    display: inline;
    margin: 0 15px;
}

.header ul {
    padding: 0;
}

 .header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
 }

 .header .logo {
    width: 20%;
 }

 .header .navbar {
    text-align: center;
    width: 60%;
}

.header .actions {
    text-align: right;
    width: 20%;
    font-size: 14px;
}

.header .actions button {
    background-color: #67b54b;
    color:#fff;
    border: 0;
    border-radius: 5px;
    padding: 12px 14px;
    margin-left: 10px;
}

.main {
    margin-top: 150px;
    text-align: center;
    margin-top: 280px;
}

h1 {
    color:#025157;
    font-family: 'Alegreya', serif;
    font-weight: 900;
    font-size: 60px;
}

h4 {
    color:#46484c;
    font-family: 'Slabo 27px', serif;
    font-weight: 400;
    font-size: 20px;
}

p {
    color:#8b8b8bcc;
}

.signup-form {
    height: 55px;
}

.main .signup-form input {
    border-radius: 10px;
    border: 1px solid #b6b6b6;
    padding: 6px 20px;
    width: 60%;
    max-width: 250px;
    height: 75%;
}

.main .signup-form button {
    color:#fff;
    background-color: #025157;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: -12px;
    border: 0;
    padding: 6px 20px;
    height: 100%;
}

.main .img_central {
    width: 80%;
    max-width: 1000px;
}

.promo  { /*flex-contenedor*/
    display:flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

.explanatory-video { /*flex-item 1*/
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1; /*propiedad de flex que asigna % de flex-contenedor que le corresponde al flex-item 1*/ /*Como el flex-contenedor contiene 2 items y ambos tienen flex:1, le corresponde 50% de contenedor a cada uno*/
}

.explanatory-video img{
    width: 120px;
    margin-top: 10px;
}

.publish { /*flex-item 2*/
    margin-bottom: 0px;
    padding: 10px;
    flex: 1; /*propiedad de flex que asigna % de flex-contenedor que le corresponde al flex-item 2*/
}

.publish h3 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
    font-weight: 900;
    margin-top: 0;
}

.publish .texto-publish {
    color: #343434;
}

.publish .texto-gris-publish {
    color: #8b8b8bcc;
}

.publish .signup-form input {
    border: 1px solid #b6b6b6;
    padding: 6px 20px;
    width: 60%;
    max-width: 250px;
    height: 75%;
    border-radius: 8px;
}

.publish .signup-form button {
    background-color: #025157;
    color: #fff;
    border: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 6px 20px;
    margin-left: -12px;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
